
/*  Layout */

* {
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}


.main-wrapper {
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
  padding: 20px;
}

     #my-canvas {
            border: 1px solid black;
        }

.nav-bar {
    width: 100vw;
    height: 50px;
    background: black;
}

.download{
  margin-left: 20px;
}


.control-box{
 /* width: 100px; */
 height: 100px;
   padding: 10px;
   flex-direction: column;

}

.choice-wrapper {
  height: 100%;
}