
/*  Layout */

body.rtl{
  direction: rtl;
  text-align: right;
}



* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}


.main-wrapper {
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
  padding: 20px;
}

     #my-canvas {
            border: 1px solid black;
        }

.nav-bar {
    width: 100vw;
    height: 50px;
    background: black;
}

.nav-bar button{
    margin-left: 20px;
    margin-left: 20px;
}

 .lang{
    margin-left: 20px;
    margin-left: 20px;
 }

 .upload{
    margin-left: 20px;
    margin-left: 20px;
 }

.control-box{
 /* width: 100px; */
 height: 100%;
   padding: 10px;
   flex-direction: column;
   border: 2px solid black;

}

.choice-wrapper {
  height: 100%;
}


a{
    text-decoration: none;

}