  
  @font-face {
    font-family: Lato;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Maven-pro;
  src: url('../fonts/maven-pro/MavenPro-Regular.ttf');
}


html {
  scroll-behavior: smooth;
}
  
  body {
             margin: 0;
            height: 100vh;
            width: 100vw;
            background-color:white; 
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   
  header{
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: #323232;
    color: white;
    font-family: Lato;
    
  }
  .list-item{
    text-decoration: none;
    height: 60px;
    color:#c2c2c2;
    font-family: Lato;
    padding: 20px
  }

   .list-item:hover{
     color:#2f937f
   }
  nav{
    background: #323232
  }
  
  .words li {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 130px;
    height: 130px;
    width: 8.4375rem;
    text-align: center;
    cursor: pointer;
  }
  
  .search-container{
    background-color: #2eb398;
    color: white;

  }

  
.contact-container{
   margin: 0;
  height: 500px; 
  background-color: #323232;
}

  
.container{
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-column-gap: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  width: 1040px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.item{
  grid-column: span 2;
  width: 200px;
  padding: 0 0 231px 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
  margin-top: -50px;
}


.item:nth-child(9n+1){ grid-column-start: 1;}
.item:nth-child(9n+2){ grid-column-start: 3;}
.item:nth-child(9n+3){ grid-column-start: 5;}
.item:nth-child(9n+4){ grid-column-start: 7;}
.item:nth-child(9n+5){ grid-column-start: 9;}
.item:nth-child(9n+6){ grid-column-start: 2;}
.item:nth-child(9n+7){ grid-column-start: 4;}
.item:nth-child(9n+8){ grid-column-start: 6;}
.item:nth-child(9n){ grid-column-start: 8;}

.hexagon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("https://picsum.photos/250/250/?image=870"); */
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
  
}
    
.item *{
    visibility: visible
}

/**** Responsive wizardry ****/

@media(max-width: 1100px){
  .container{
    grid-template-columns: repeat(8, 100px);
    width: 830px
  }
.item:nth-child(7n+1){ grid-column-start: 1;}
.item:nth-child(7n+2){ grid-column-start: 3;}
.item:nth-child(7n+3){ grid-column-start: 5;}
.item:nth-child(7n+4){ grid-column-start: 7;}
.item:nth-child(7n+5){ grid-column-start: 2;}
.item:nth-child(7n+6){ grid-column-start: 4;}
.item:nth-child(7n){ grid-column-start: 6;}
}

@media(max-width: 850px){
  .container{
    grid-template-columns: repeat(6, 100px);
    width: 620px
  }
.item:nth-child(5n+1){ grid-column-start: 1;}
.item:nth-child(5n+2){ grid-column-start: 3;}
.item:nth-child(5n+3){ grid-column-start: 5;}
.item:nth-child(5n+4){ grid-column-start: 2;}
.item:nth-child(5n){ grid-column-start: 4;}
}

@media(max-width: 720px){
  .container{
  grid-template-columns: repeat(4, 100px);
    width: 410px;
  }
  .item:nth-child(3n+1){ grid-column-start: 1;}
  .item:nth-child(3n+2){ grid-column-start: 3;}
  .item:nth-child(3n){ grid-column-start: 2;}
}









form { 
  max-width:420px; 
  margin:0 auto; 
  font-family: Maven-pro;
  padding-top: 50px; 
}

.feedback-input {
  color:white;
  font-family: Maven-pro;;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #454545;
  border:2px solid #454545;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #454545; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Maven-pro;
  width: 100%;
  background:#2f937f;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#2f937f; }

.first-msg {
  line-height: 4.56px;
  font-size: 1.875rem;
  color: white;
  margin-top :0;
}

.second-msg{
  color: white;
  font-size: 20px;
}

footer{

  height: 40px;
  background-color: #222222;
  border-top: 1px solid white;

}