  body {
            margin: 0;
            height: 100vh;
            width: 100vw;
            background-color: gray;
        }




.imgs-container{
    margin: 0 auto;
    width: 90%;
    display: flex; 
    flex-wrap: wrap;
    border: 1px solid red;
    /* text-align: center; */

   
}
  
  img {
    border: 1px solid red;
    margin: 8px;
    height: 20vh;
    width: 10vw;
  }
  

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

     #my-canvas {
            border: 1px solid blue;
        }

.nav-bar {
    width: 100vw;
    height: 50px;
    background: black;
}

.userChoice{
 width: 100px;
 height: 100px;
}

/* helpers */

.flex{
  display: flex;
}

.align-both {
    justify-content: center;
    align-items: center;
}

.download{
  margin-left: 20px;
}
