  body {
            margin: 0;
        }




.imgs-container{
    display: grid; 
    grid-template-columns: repeat(auto-fill,400px);
    grid-gap: 25px;
    border: 1px solid red;

   
}
  
  img {
    border: 1px solid red;
    width: 400px;
    height: 300px;
  }


     #my-canvas {
            border: 1px solid blue;
        }

.nav-bar {
    width: 100vw;
    height: 50px;
    background: black;
}

.userChoice{
 width: 100px;
 height: 100px;
}

/* helpers */

.flex{
  display: flex;
}

.align-both {
    justify-content: center;
    align-items: center;
}

.download{
  margin-left: 20px;
}
