  body {
            margin: 0;
        }


   #my-canvas {
            border: 1px solid blue;
        }

.imgs-container{
    display: grid; 
    grid-template-columns: repeat(auto-fill,400px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 25px;
    border: 1px solid red;
}
  
  img {
    border: 1px solid red;
    width: 400px;
    height: 300px;
  }




